#main{
    background:#F3F3F3;margin:0 auto;
    width: 1000px;height: 1000px;
    .maintop{
        background:#F3F3F3;
        img{
            height: 155px;width: 255px;
        }
        .fr{
            margin-top:80px;
            width:378px;height: 35px;background:url('../imgaes/cart_process.png') no-repeat;
        }
    }
    h3{
        color:red;font-size:20px;border-bottom:2px solid #EE5533;line-height:32px;
        span{
            color:black;font-size:16px;
        }
    }
    table{
        td{
            font-size:16px;line-height:33px;width:200px;
        }
    }
    ul{
        padding:10px;background:#fff;
        img{
            width: 75px;border:1px solid;height:75px;font-size:14px;
            }
            span{
                &:nth-of-type(1){
                    margin-right:130px;
                }
                 &:nth-of-type(2){
                    margin-right:80px;
                }
        }
            button{
                border:1px solid #EFEFEF;background:#fff;font-size: 18px;
                &:nth-of-type(2){
                    margin-right:100px;
                }
            }
            i{
                border:1px solid #EFEFEF;font-size: 18px;
            }
    }
}