#header{
    .headtop{
        position:relative;
        width: 100%;
        height: 37px;
        border-bottom:1px solid #ccc;font-size: 14px;
        line-height:33px;margin: 0 auto;
        span{
            em{
                width: 9px;height:15px;display:inline-block;margin-left: 20px;
                background:url("../imgaes/toolbar.png") no-repeat -31px 0;
            }
        }
        ul{ 
            float:right;padding-top:13px;
            li{ 
                float:left;line-height:14px;font-size: 14px;
                span{
                   border-right:1px solid #ccc;padding:0 15px;
                }
                a{
                   img{
                    margin-left:8px;
                   }

                }
            }
        }
        .sjb{
            position:relative;
            div{
                display:none;
                position:absolute;top:26px;left:-100px;
                width:250px;height: 130px;
                border:1px solid #ccc;padding:5px;
                p{
                    padding-left:120px;
                    line-height:20px;
                }
            }
            
    }   
    .sjb:hover div{
            display:block;z-index:500;background:#fff;
    }
        .gzbp:hover .gzbpbox{display:block;z-index:500;background:#fff;}
        .gzbp{
            position:relative;
            .gzbpbox{
                display:none;
                border:1px solid #ccc;
                position:absolute;top:27px;left:-200px;
                width: 400px;
                padding:5px;
                p{
                    padding-left:120px;
                }
                .gzbpboxl{
                    width: 50%;
                }
                .gzbpboxr{
                    width: 50%;
                }
            }
        }
        .bqsy{
            position:relative;
            dl{
                display:none;
                border:1px solid #ccc;
                position:absolute;
                top:27px;left:-21px;

                dd{
                    width: 100px;
                    line-height:20px;
                    em{
                        width: 20px;
                        height: 14px;
                        margin-left:13px;
                        margin-right:3px;
                    }
                }
            }
        }
        .bqsy:hover dl{display:block;z-index:500;background:#fff;}
        .locations{
            display:none;
            position:absolute;
            border:1px solid #ccc;
            top:36px;left:160px;
            width:400px;
            .locat{
                color:red;
            }
            h4{
                height:60px;
                border-bottom:1px dashed #ccc;
                ul{
                    float:right;
                    a{  
                        display:inline-block;
                        padding-right:26px;


                    }
                }
            }
        }
        .locations.active{
             display:block;z-index:900;background:#fff;
         }

    }
    .container{

        .hc-c{
                margin-left:50px;padding-top:40px;
                input{border:2px solid #EE5533;width: 516px;height: 38px;padding-left:5px;font-size: 18px;line-height: 38px;float:left;margin-bottom:6px;}
                button{background:#EE5533;width: 80px;height: 38px;float:left;margin-bottom:6px;} 
                p{margin-bottom:20px;font-size:12px;}
             }
       .hc-r{padding-top:30px;padding-right:35px;}   

     }
       .headfoot{
            .goods{
                    h2{

                        em{
                        display:inline-block;
                         width: 16px;height:10px;display:inline-block;margin-left: 50px;
                        background:url("../imgaes/toolbar.png") no-repeat  0 -21px;
                        }
                    }
                    .product{
                        h3{ 
                            em{
                                    display:inline-block;margin-top:5px;
                                  width: 24px;height:24px;display:inline-block;margin-right:5px;
                                background:url("../imgaes/icon.png") no-repeat -195px -171px;
                                }
                            ul{

                                li{
                                    float:left;width: 30px;
                                }
                            }
                            
                        }   
                    }
                    .product-wrap{
                               h5{
                                padding:20px 0px;
                                border-bottom:1px dashed #ccc;
                                    i{
                                        a{

                                            color:#CC2200;margin-right:70px;font-size:20px;
                                        }
                                    }
                                    a{
                                        font-size:16px;
                                    }
                               }
                            }
               }   
        }
        .nav-list{   
                li{
                    height: 40px;
                    a{
                        display:block;height:40px;
                    }
                }
                    .headcar{
                        margin-left:100px;position:relative;
                        em{display:inline-block;
                         width: 29px;height:26px;display:inline-block;margin-left: 50px;margin-left:10px;
                         background:url("../imgaes/toolbar.png") no-repeat  -30px -13px;
                        }
                    &.active{
                         a{background:pink;}
                        
                    }
                        div{
                            display:none;
                            position:absolute;top:40px;left:-44px;
                            width: 250px;background:pink;
                            ul{ line-height:30px;
                                li{ margin-left:20px;
                                    height: 50px;
                                }
                            }
                        }
                    }
        }
        #headr{
            position:fixed;right:0px;top:0px;
            .head-rl{
                text-align: center;padding-top:80px;
                width:37px;height:680px;
                background:#181818;
                span{width: 100px;font-size:15px;line-height:30px;
                    .carqty{background:red;width: 20px;height: 20px;border-radius:50%;display:block;margin:0 auto;}
                }
                p{
                    padding:10px;
                }
                i{
                     width: 36px;height:36px;display:block;line-height:14px;
                                background:url("../imgaes/sbar_ico.png") no-repeat ;
                                margin:0 auto;margin-bottom:30px;
                }
                em{
                
                         border-top:1px solid #ccc;
                                width: 36x;height:36px;display:block;
                                background:url("../imgaes/sbar_ico.png") no-repeat -195px -171px;
                                margin:0 auto;
                }

                }
            }
            .head-rr{
                display:none;
                width:150px;height:760px;background:#fff;

            }
        
    
}
    
