#head-main{
    height: 2000px;background:#fff;
    #ban{
        .banl{
            background:red;height: 549px;width:268px;background:#ccc
        }
        .banc{
            width: 800px;height: 450px;background:blue;
        }
        .bancb{
            ul{
                width: 800px;padding-top:5px;
                li{
                    float:left;margin-bottom:5px;
                }
            }
        }
        .banr{
            background:blue;width:195px;
            padding-right:37px;
        }

    }
}
